<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runtime dashboard</title>
    <script src="d3.v2.min.js" charset="utf-8"></script>
    <script src="cubism.v1.min.js"></script>
    <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/dashboard.js")'></script>
</head>
<body>

</body>
</html>